.dark-mode {
  display: flex;
  align-items: center;
}

#dark-mode-button {
  background-color: #000;
  border: solid 2px #fff;
  border-radius: 50px;
  cursor: pointer;
  height: 30px;
  outline-width: 5px;
  position: relative;
  width: 60px;
}

.dark-mode-icon {
  background-color: grey;
  border-radius: 100%;
  content: "";
  display: block;
  height: 20px;
  position: relative;
  left: 5px;

  transition: background-color 0.3s, transform 0.3s;
  width: 20px;
}

body.dark .dark-mode-icon {
  background: yellow;
  transform: translateX(25px);
}

body.dark .dark-mode-icon::after {
  background-color: yellow;
  border-radius: 100%;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  width: 20px;
}

@media only screen and (max-width: 1024px) {
  #dark-mode-button {
    top: 40px;
  }
}
