.home {
  width: 100%;
  min-height: 600px;
  display: flex;
  color: var(--text-light);
  align-items: center;
  justify-content: center;
  background-color: var(--background-light-secondary);
}

.pic {
  border-radius: 50px;
  height: 70%;
  max-height: 420px;
}

.description {
  margin-left: 30px;
  font-size: 1.2rem;
  text-align: center;
}

.downCV {
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.downCV:hover {
  background-color: black;
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .description {
    margin-bottom: 30px;
  }

  .pic {
    margin: 30px;
  }
}
