@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --background-light-primary: rgb(227, 237, 245);
  --background-light-secondary: aliceblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  /* background-color: var(--background-light-primary); */
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-light-primary);
}
